<?xml version="1.0"?>
<config>
  <modules>
    <Safepay_Safepay>
      <version>0.1.0</version>
    </Safepay_Safepay>
  </modules>
  <global>
    <models>
      <safepay>
        <class>Safepay_Safepay_Model</class>
      </safepay>
    </models>
    <helpers>
      <safepay>
        <class>Safepay_Safepay_Helper</class>
      </safepay>
    </helpers>
    <blocks>
      <safepay>
        <class>Safepay_Safepay_Block</class>
      </safepay>
    </blocks>
  </global>
  <default>
    <payment>
      <safepay>
        <model>safepay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Safepay Checkout</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </safepay>
    </payment>
  </default>
  <frontend>
    <routers>
      <safepay>
        <use>standard</use>
        <args>
          <module>Safepay_Safepay</module>
          <frontName>safepay</frontName>
        </args>
      </safepay>
    </routers>
  </frontend>
</config>
